@import "uaplus.css";
@import "fonts.css";

:root {
   --font-body:
      "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
   --font-heading: "IBM Plex Serif", serif;
   --text-primary: oklch(0.2 0.02 70);
   --text-secondary: oklch(43.86% 0 0);
   --text-attention: oklch(66.62% 0.209 22.13);
   --link-primary: oklch(55.65% 0.243 261.95);
   --link-primary-hover: oklch(45.4% 0.221 262.63);
   --link-visited: oklch(57.37% 0.258 294.89);
   --background: oklch(96.72% 0 0);
   --layer-01: oklch(100% 0 0);
   --border: oklch(0.92 0.01 70);
   --radius: 0.625rem;
   --max-width: 1024px;
   --max-width-project: 800px;
   --max-width-blog: 70ch;
   --body-01: 0.875rem;
   --body-02: 1rem;
   --heading-04: 1.2rem;
   --heading-03: 1.55rem;
   --heading-02: 2.25rem;
   --heading-01: 3rem;
}

* {
   padding: 0;
   margin: 0;
   border-color: var(--border);
   box-sizing: inherit;
}

html,
body {
   height: 100%;
   font-family: "IBM Plex Sans", sans-serif;
   font-size: var(--body-02);
   font-weight: 400;
   line-height: 1.6;
   color: var(--text-primary);
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: var(--background);
}

a {
   color: var(--link-primary);
   text-underline-offset: 4px;
   scroll-margin-top: 72px;
}
a:hover {
   color: var(--link-primary-hover);
}
a:visited {
   color: var(--link-visited);
}

h1 {
   font-family: var(--font-heading);
   font-size: var(--heading-01);
   font-weight: 600;
}
h2 {
   font-family: var(--font-heading);
   font-size: var(--heading-02);
   font-weight: 600;
}

h3 {
   font-size: var(--heading-03);
   font-weight: 400;
}

h4,
h5,
h6 {
   font-weight: 400;
}

main {
   flex-grow: 1;
}
