---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Ladislav's site";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="main-container">
    Ladislav Szolik, Senior UX Expert at Ärztekasse. Former mobile and web UX designer at Swisscom and Credit Suisse,
    with software engineering experience at Accenture. Slovak-born, Zürich-based
    <img src="/images/profile_photo.webp" alt="Profile picture" width="344" height="344" />
  </main>
</BaseLayout>
