---

---

<footer>
  <div class="container">
    <div class="social-links">
      <a
        href="mailto:szolik.ladislav@gmail.com?subject=Saying%20hello"
        class="social-link"
        title="Email"
        aria-label="Send email"
      >
        E-mail
      </a>
      <a
        href="https://www.linkedin.com/in/ladislav-szolik-30278593/"
        class="social-link"
        title="Instagram"
        aria-label="Visit LinkedIn profile"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
    </div>
    <p>&copy; {new Date().getFullYear()} Ladislav Szolik. All rights reserved.</p>
  </div>
</footer>
